.GanttTasks {
  & .SidebarContainer {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  & .BodyContainer {
    scrollbar-width: none;
    -ms-overflow-style: none;

    & .Body {
      position: relative;
    }
  }

  & .TaskRowData {
    & .DragHandle {
      opacity: 0;
    }

    &[hovered="true"],
    &:hover {
      background: var(--mantine-color-gray-outline-hover);

      & .DragHandle {
        opacity: 1;
      }
    }
  }

  & .TaskRowTimeline {
    position: relative;

    &[hovered="true"],
    &:hover {
      background: var(--mantine-color-gray-outline-hover);
    }

    & .MovePointer {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      border-width: 2px;
      border-style: solid;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      border-radius: 20rem;
    }

    & .EstimatingPointer {
      position: absolute;
      height: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 5rem;
    }

    & .EstimatedRange {
      position: absolute;
      height: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 5rem;
    }
  }
}
