.GanttTasks {
  overflow-x: hidden;
  overflow-y: hidden;

  &.isGrab {
    cursor: grab;
    user-select: none;

    * {
      cursor: grab;
      user-select: none;
    }
  }

  &[gantt-event="grabbing"] {
    cursor: grabbing !important;

    * {
      cursor: grabbing !important;
    }
  }

  & .SidebarContainer {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  & .BodyContainer {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
    overflow-y: hidden;

    & .Body {
      position: relative;
    }
  }

  & .GanttTask {
    & .TaskRowActions {
      display: none;
      visibility: hidden;
    }

    & .DragHandle,
    & .TaskSelectionBox[data-selected="false"] {
      opacity: 0;
    }

    &[hovered="true"],
    &:hover {
      background: var(--mantine-color-gray-outline-hover);

      & .DragHandle,
      & .TaskRowActions,
      & .TaskSelectionBox[data-selected="false"] {
        opacity: 1;
      }

      & .TaskRowActions {
        display: flex;
        visibility: visible;
      }
    }

    & .TaskStatus {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.1rem;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 5px;

      & .TaskStatusIcon {
        width: 0.6rem;
        height: 0.6rem;
        background: var(--task-status-color);
        border-radius: 3px;
      }

      &:hover {
        border-color: var(--task-status-color);
      }
    }
  }

  & .GanttTaskArea {
    position: relative;

    & .MovePointer {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      border-width: 2px;
      border-style: solid;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      border-radius: 20rem;
      z-index: 1;
    }

    & .EstimatingPointer {
      position: absolute;
      height: 1rem;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 5rem;
    }

    & .GanttTaskTimeline {
      position: absolute;
      height: 1.6rem;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 0.4rem;
      display: flex;
      min-width: 0;
      align-items: center;
      z-index: 2;
      overflow: hidden;

      & .GanttTaskTimelineChildSummaryProgress {
        border-radius: 5rem;
      }

      &.isChildSummary {
        border-radius: 0;
        overflow: visible;
      }
    }

    & .GanttTaskTimelineResizePointer {
      opacity: 0;
      cursor: col-resize;
      position: relative;
      z-index: 5;
    }

    &[hovered="true"],
    &:hover {
      background: var(--mantine-color-gray-outline-hover);

      & .GanttTaskTimelineResizePointer {
        opacity: 0.5;
      }
    }
  }
}

.Draggable {
  user-select: none;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
