.ListTaskRows {
  display: flex;
}

.ListTaskRowContainer {
  & .ListTaskRow {
    align-items: stretch;

    &:not(.isLastRow) {
      border-bottom: 1px solid var(--mantine-color-gray-light);
    }

    & .HoverToActive {
      opacity: 0;
      display: none;
    }

    &:hover,
    &[data-task-menu-opened="true"] {
      background: var(--mantine-color-gray-outline-hover);

      & .HoverToActive {
        opacity: 1;
        display: flex;
      }
    }

    & .TaskCell {
      cursor: pointer;
      border: 1px solid transparent;
      height: 100%;
      border-radius: var(--mantine-radius-default);

      &:hover {
        border-color: var(--mantine-color-gray-light);
      }
    }
  }
}
