ENV=development
APP_MODE=SINGLE # SINGLE | MAIN | WORKER

# Expose URLs
PUBLIC_URL=http://localhost:3000
APP_URL=http://localhost:3000
API_URL=http://localhost:4000

# Database, Caching
DATABASE_MONGO_URL=mongodb://admin:admin@localhost:27017/JoyOneProduction?retryWrites=true&w=majority&authSource=admin
DATABASE_POSTGRES_URL=postgres://admin:admin@localhost:5432/JoyOneProduction

REDIS_URL=redis://localhost:6379
BULL_REDIS_URL=redis://localhost:6379

ELASTICSEARCH_URL=http://localhost:9200

# Analytics & Logging
SENTRY_DSN=
DISCORD_ALERT_WEBHOOK=

# Integrations
ZALO_APP_ID=2154977971003798498
ZALO_APP_SECRET=1gpT1Lk5kSqJ4c0BXp1H

META_APP_VERSION=v20.0
META_APP_ID=987208183193282
META_APP_SECRET=f43e81c4b1c4dd5e7ba7e267049f6889

MESSAGE_HUB_URL=https://message-hub-api.joyone.vn
MESSAGE_HUB_API_KEY=

# Product Owner Billings
BILLING_ACCOUNT_NAME=
BILLING_ACCOUNT_NUMBER=
BILLING_ACCOUNT_BANK_ID=

# System Admin
SYS_ADMIN_EMAIL=huuthong.mgd@gmail.com
SYS_ADMIN_PASSWORD=

# System Mailer
SYS_MAILER_USER_EMAIL=
SYS_MAILER_USER_PASSWORD=

# System Pay OS
SYS_PAY_OS_CLIENT_ID=
SYS_PAY_OS_API_KEY=
SYS_PAY_OS_CHECKSUM_KEY=

# System Inherit Key
INHERIT_KEY=

# System config
PAYMENT_ORDER_CODE_START_AT=1000
EVENT_THROTTLE_TIME=900
FILE_CACHE_TIME=86400
EXTENDED_APP=false

# System secret keys
ENCRYPT_PASSWORD=

WORKSPACE_INVITATION_SECRET_KEY=
WORKSPACE_INVITAIONT_TOKEN_EXPIRE_TIME=28800

USER_REFRESH_TOKEN_SECRET_KEY=
USER_REFRESH_TOKEN_EXPIRE_TIME=7776000

USER_ACCESS_TOKEN_SECRET_KEY=
USER_ACCESS_TOKEN_EXPIRE_TIME=86400

RENEW_PASSWORD_SESSION_EXPIRE_TIME=600

PORTAL_KEYS=

VN_LOCATIONS_API_KEY=