.SplitPointer {
  top: 0;
  bottom: 0;
  cursor: col-resize;
  z-index: 500;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: var(--app-primary-color);
    opacity: 0;
  }

  &:hover:not(.isResizing) {
    &::before {
      opacity: 0.1;
    }
  }

  &.isResizing {
    &::before {
      opacity: 0;
    }
  }
}

.Divider {
  width: 2px;
  top: 0;
  bottom: 0;
  cursor: col-resize;
  background: var(--app-primary-color);
  opacity: 0;
  z-index: 490;

  &.isResizing {
    opacity: 0.6;
  }

  &:hover {
    opacity: 0.3;
  }
}

.BodyResizing {
  user-select: none;
  cursor: col-resize;

  * {
    pointer-events: none;
    user-select: none;
    cursor: col-resize;
  }
}