.Table {
  border-top: var(--mantine-color-disabled) 1px solid;

  & table {
    border-collapse: collapse;
    width: max-content;
    min-width: 100%;
    border-spacing: 0;
    caption-side: bottom;

    tr {
      border-bottom: var(--mantine-color-disabled) 1px solid;

      th,
      td {
        overflow: hidden;
        position: relative;

        &.BulkActionsCell {
          width: 30px;
        }
      }
    }

    thead,
    tbody {
      tr {
        th:not(.BulkActionsCell):not(.SpaceCell),
        td:not(.BulkActionsCell):not(.SpaceCell) {
          padding: 8px 12px;
        }
      }
    }

    tbody {
      tr {
        &:last-child {
          td {
            border-bottom: none;

            &:first-child {
              border-bottom-left-radius: var(--paper-radius);
            }

            &:last-child {
              border-bottom-right-radius: var(--paper-radius);
            }
          }
        }

        &:nth-child(odd) {
          & td {
            background: var(--mantine-color-body);
          }
        }

        &:nth-child(even) {
          & td {
            background: var(--mantine-color-default-hover);
          }
        }

        &[data-context-menu-opened="true"] {
          & td {
            background: color-mix(in srgb, var(--app-primary-color), transparent 95%) ;
          }
        }
      }
    }
  }
}
