.Table {
  border-top: var(--mantine-color-disabled) 1px solid;

  table {
    border-collapse: collapse;
    width: max-content;
    min-width: 100%;
    border-spacing: 0;
    caption-side: bottom;

    tr {
      border-bottom: var(--mantine-color-disabled) 1px solid;

      th,
      td {
        overflow: hidden;
        position: relative;

        &.ActionColumn {
          width: 40px;
        }

        &.BulkActionsCell {
          width: 30px;
        }
      }
    }

    thead,
    tbody {
      tr {
        th:not(.BulkActionsCell):not(.ActionColumn),
        td:not(.BulkActionsCell):not(.ActionColumn) {
          padding: 8px 12px;
        }
      }
    }

    tbody {
      tr {
        &:last-child {
          border-bottom: none;

          td {
            border-bottom: none;
          }
        }

        &:nth-child(odd) {
          & td {
            background: var(--mantine-color-body);
          }
        }

        &:nth-child(even) {
          & td {
            background: var(--mantine-color-default-hover);
          }
        }
      }
    }
  }
}
