.ContextMenu {
  opacity: 0;
  transform: translateY(-6px);
  pointer-events: none;
  display: none;
  position: fixed;

  &[data-opened="true"] {
    display: block;
  }

  &.AnimatedIn {
    transition: opacity 100ms ease-out, transform 100ms ease-out;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

.ContextMenuItem {
  padding: 0.4rem 0.5rem;
  padding-right: 0.8rem;

  &:hover {
    background: var(--mantine-color-default-hover);
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
  }
}
