.ContextMenu {
  opacity: 0;
  transform: translateY(-6px);
  pointer-events: none;
  display: none;
  position: fixed;

  &[data-opened="true"] {
    display: block;
  }

  &.AnimatedIn {
    transition: opacity 100ms ease-out, transform 100ms ease-out;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}
