.Editor {
  position: relative;
  width: 100%;

  & * {
    outline: none;
  }

  &.isNonWrapped {
    & :global(.ProseMirror) {
      padding: 0;
    }

    & :global(.mantine-RichTextEditor-root) {
      border: none;
    }
  }

  & :global(.mantine-RichTextEditor-content) {
    background: transparent;
  }
}
