.BoardCard {
  & .CardProperty {
    cursor: pointer;
    user-select: none;

    &:hover,
    &[data-activated="true"] {
      & .CardPropertyContent {
        background-color: var(--mantine-color-default-hover);
        border-radius: var(--mantine-radius-default);
      }
    }
  }
}
